.header{
    background-color: rgb(39, 39, 146);
    height: 70px;
    width: auto;
    position: fixed;
}
.top {
	position: relative;
	height: 60px;
	/*background: linear-gradient(141deg, rgb(73, 82, 188) 0%, rgb(0, 64, 120) 40%, rgb(2, 76, 179) 90%);*/
    background-color: black;
    color: white;
}
.carousel-inner img {
    max-width: 100%; 
    max-height: 520px;
 }
.carousel-wrapper {
    margin-left: 0; 
 }
 .body{
    background-color: black;
    color: white;
 }
 .animated-button {
    position: relative;
    background: transparent;
    border: none;
    padding: 0px 0px;
    font-size: 16px;
    cursor: pointer;
    overflow: hidden;
  }
  
  .animated-button::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #fff;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.3s ease;
  }
  
  .animated-button:hover::before {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
  .my-float{
    margin-top:3px;
  }
  .zoom:hover{
    transform: scale(1.2); 
    transition: transform 0.3s ease; 
  }
  .distance{
    margin-left: 5px;
  }
  .box {
    max-width: auto; /* Largura máxima da caixa */
    height: auto; /* Altura automática da caixa para se ajustar ao conteúdo */
    margin-top: 20px;
    border-radius: 15px;
    color: white;
    background: rgb(20, 20, 20);
    margin-left: 50px;
    margin-right: 50px;
  }
  .titulo-bonito {
    font-size: 40px; /* Tamanho da fonte */
    font-family: sans-serif; /* Tipo de fonte */
    color: #ffffff; /* Cor do texto */
    text-align: center; /* Alinhamento do texto */
    position: relative; /* Define posição relativa para facilitar o posicionamento do sublinhado */
    
    /* Adiciona o sublinhado */
    &:after {
        content: ""; /* Cria um elemento de conteúdo vazio */
        position: absolute; /* Define posição absoluta em relação ao elemento pai (.titulo-bonito) */
        bottom: -5px; /* Distância entre o sublinhado e o texto */
        left: 50%; /* Começa o sublinhado no centro do elemento pai */
        transform: translateX(-50%); /* Centraliza o sublinhado */
        width: 150px; /* Largura do sublinhado */
        height: 2px; /* Altura do sublinhado */
        background-color: #ffffff; /* Cor do sublinhado */
    }
    }
    .subtitulo {
        font-size: 20px; /* Tamanho da fonte */
        font-family: sans-serif; /* Tipo de fonte */
        color: #ffffff; /* Cor do texto */
        text-align: center; /* Alinhamento do texto */
        position: relative; /* Define posição relativa para facilitar o posicionamento do sublinhado */
        
        /* Adiciona o sublinhado */
        &:after {
            content: ""; /* Cria um elemento de conteúdo vazio */
            position: absolute; /* Define posição absoluta em relação ao elemento pai (.titulo-bonito) */
            bottom: -5px; /* Distância entre o sublinhado e o texto */
            left: 50%; /* Começa o sublinhado no centro do elemento pai */
            transform: translateX(-50%); /* Centraliza o sublinhado */
            width: 150px; /* Largura do sublinhado */
            height: 2px; /* Altura do sublinhado */
            background-color: #ffffff; /* Cor do sublinhado */
        }
        }